<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="/doctors_info.css">
   <title>Doctor's Information</title>
  <style>
    body {
    width: content-box;
      font-family: 'Times New Roman', serif;
    }
  </style>

</head>
<body>
<img src="/logo.jpg" alt="Avatar" class="avatar" >
<h2><b>Our Specialists</b></h2>
<div class="container ">
<div class="card-deck">

  <div class="card bg-light">

    <div class="card-body ">
      <img src="/doc.jpg" width="100" height="100"><br><br><br>
      <span class="text"><b>Name:</b>Miftahul Zannat<br>
      <b>Degree:</b>PhD<br>
      <b>Speciality:</b><br>Shock Therapy & Lovotomy<br>
      <b>Available on:</b><br>Everyday,8:30pm-11:30pm.<br>
      </span><br><br>

    </div>

      <form action="#" method="post" th:action="@{/postdocinfo}" th:object="${docSelect}">
          <input type="hidden" name="MiftaId" id="MiftaId" th:field="*{docID}"/>
          <button type="submit" class="btn btn-info"><b>SELECT</b></button>

      </form>

  </div>

  <div class="card bg-light"  >
    <div class="card-body text-justify ">
    	<img src="/doc.jpg" width="100" height="100"><br><br><br>


      <span class="text" ><b>Name:</b>Nadia Yasmin<br>
      <b>Degree:</b>PhD<br>
      <b>Speciality:</b><br>Neuropsychology<br>
      <b>Available on:</b><br>Sunday-Wednesday,8:30am-11:30am.<br>
      </span><br><br><br>

    </div>
      <form action="#" method="post" th:action="@{/postdocinfo}" th:object="${docSelect}">
          <input type="hidden" name="nadiaId" id="nadiaId" th:field="*{docID}"/>
          <button type="submit" class="btn btn-info"><b>SELECT</b></button>

      </form>

  </div>

    <div class="card bg-light">

    <div class="card-body ">
      <img src="/doc.jpg" width="100" height="100"><br><br><br>
         <span class="text"><b>Name:</b>ABCS<br>
      <b>Degree:</b>MS, PhD<br>
      <b>Speciality:</b><br>Congnitive & Perceptual Psychology<br>
         <b>Available on:</b><br>Everyday,12:30pm-4:30pm.<br>
         </span><br>

    </div>
        <form action="#" method="post" th:action="@{/postdocinfo}" th:object="${docSelect}">
            <input type="hidden" name="psychoId" id="psychoId" th:field="*{docID}"/>
            <button type="submit" class="btn btn-info"><b>SELECT</b></button>

        </form>
  </div>

  <div class="card bg-light">
    <div class="card-body text-justify">
      <img src="/doc.jpg" width="100" height="100"><br><br><br>
       <span class="text"><b>Name:</b>Dhruba Nandi<br>
      <b>Degree:</b>PhD<br>
      <b>Speciality:</b><br>Developmental Psychology<br>
       <b>Available on:</b><br>Saturday-Wednesday,4:30pm-8pm<br>
       </span><br>

    </div>
      <form action="#" method="post" th:action="@{/postdocinfo}" th:object="${docSelect}">
          <input type="hidden" name="nandiId" id="nandiId" th:field="*{docID}"/>
          <button type="submit" class="btn btn-info"><b>SELECT</b></button>

      </form>

  </div>

    <div class="card bg-light">
    <div class="card-body ">
      <img src="/doc.jpg" width="100" height="100"><br><br><br>
       <span class="text"><b>Name:</b>Tamzid Khan<br>
      <b>Degree:</b>PsyD<br>
      <b>Speciality:</b><br>Clinical Psychology<br>

       <b>Available on:</b><br>Everyday,8:30am-11:30am.<br>
       </span>
      
    </div>

        <form action="#" method="post" th:action="@{/postdocinfo}" th:object="${docSelect}">
            <input type="hidden" name="TamzzId" id="TamzzId" th:field="*{docID}"/>
            <button type="submit" class="btn btn-info"><b>SELECT</b></button>

        </form>
  </div>
</div>
</div>
<script>
    /*
    function load(x){
        debugger
        let elements= document.getElementsByName('id');
        console.log("Miftaa")
    }
     */
    $(document).ready(function() {
        $('#MiftaId').val('1001');
        $('#nadiaId').val('1002');
        $('#psychoId').val('1003');
        $('#nandiId').val('1004');
        $('#TamzzId').val('1005');
    });
</script>
</body>
</html>