<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bleh</title>
</head>
<body>
</form>

<h1 id="signup_heading">Registration</h1>
<form id="signup_form" method="post" class="form">
  <div class="signup-container">
    <label for="signupEmail">Email</label>
    <input type="text" name="signupEmail" id="signupEmail" placeholder="email address" required>
    <label for="password">Password</label>
    <input type="password" name="signupPassword" id="signupPassword" placeholder="signupPassword" required>
    <label for="password">Password</label>
    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="confirmPassword" required>
    <button type="submit" class="login-button button-hover" value="Sign up" onclick="return checkSignUpForm();">Sign up</button>
  </div>
</form>
</body>
</html>